//tamaños//
.img90
  max-width: 90px !important
.img130
  max-width: 130px !important
.img160
  max-width: 160px !important
.img250
  max-width: 250px !important
.img350
  max-width: 350px !important
.img450
  max-width: 450px !important
.img600
  max-width: 600px !important
.img900
  max-width: 900px !important
  //justificar
.justify-center
  display: flex
  flex-wrap: wrap
  justify-content: center
  flex-direction: row
.justify-star
  display: flex
  flex-wrap: wrap
  align-items: normal
  justify-content: flex-start
  flex-direction: row
.justify-end
  display: flex
  flex-wrap: wrap
  align-items: normal
  justify-content: flex-end
  flex-direction: row



  //alinear y justificar//
.align-items-center
  display: flex
  align-items: center !important
  flex-direction: row

//background de fondo//
.bgr
  background-color: #E6F1FF
  max-width: 400px !important
  &_1
    background-color:#FDF9F3
  &_2
    background-color: #8BDAE6 !important
    height: 100%
  &_3
    background-color: #F9C852 !important


//imagen sobre fondo//
.clip
  position: absolute
  width: 30px
  height: 60px
  top: -7%
  right: 3%  

//sobreescribir clases//
.cajon.color-acento-contenido:before
  background-color: #079BB2 !important
.cajon.color-acento-contenido
  background-color: #D4ECF0 !important
.tabs-b.color-acento-contenido .tabs-b__tab--active
  background-color: #FDF9F3 !important